/* line 130, ../../app/stylesheets/application.sass */
div.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 135, ../../app/stylesheets/application.sass */
body {
  text-align: left;
}

/* line 138, ../../app/stylesheets/application.sass */
h1 {
  font-size: 30.6px;
  color: white;
  text-shadow: 3px 3px 3px #cd7f12;
}

/* line 143, ../../app/stylesheets/application.sass */
div#flash_container {
  display: block;
  height: 35px;
  margin-bottom: 5px;
}
/* line 147, ../../app/stylesheets/application.sass */
div#flash_container div#flash_notice {
  float: left;
  height: 23px;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4cc417), color-stop(100%, #339966));
  background-image: -webkit-linear-gradient(top, #4cc417, #339966);
  background-image: -moz-linear-gradient(top, #4cc417, #339966);
  background-image: -o-linear-gradient(top, #4cc417, #339966);
  background-image: -ms-linear-gradient(top, #4cc417, #339966);
  background-image: linear-gradient(top, #4cc417, #339966);
}
/* line 152, ../../app/stylesheets/application.sass */
div#flash_container div#flash_alert {
  float: left;
  height: 23px;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3333), color-stop(100%, #993333));
  background-image: -webkit-linear-gradient(top, #ff3333, #993333);
  background-image: -moz-linear-gradient(top, #ff3333, #993333);
  background-image: -o-linear-gradient(top, #ff3333, #993333);
  background-image: -ms-linear-gradient(top, #ff3333, #993333);
  background-image: linear-gradient(top, #ff3333, #993333);
}

/* line 173, ../../app/stylesheets/application.sass */
.time {
  font-size: 12px;
  color: #cd7f12;
}

/* line 177, ../../app/stylesheets/application.sass */
div#container {
  font: normal 18px "Helvetica Neue", Arial, Helvetica, sans-serif;
  width: 900px;
  margin: 0 auto;
  color: white;
  padding: 10px 0 0 0;
}
/* line 178, ../../app/stylesheets/application.sass */
div#container a {
  color: #4b7399;
  text-decoration: none;
  font-size: 12px;
}
/* line 187, ../../app/stylesheets/application.sass */
div#container div#contents {
  min-height: 500px;
  width: 818px;
  padding: 20px 40px;
  border: 1px solid black;
  background: black url("/images/red_moon_mizuki2.png") no-repeat scroll top left;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  position: relative;
}
/* line 195, ../../app/stylesheets/application.sass */
div#container div#contents div#star1 {
  left: 77px;
  top: 162px;
  position: absolute;
  background-color: transparent;
  width: 47px;
  height: 47px;
  z-index: 1;
  display: block;
}
/* line 197, ../../app/stylesheets/application.sass */
div#container div#contents div#star2 {
  left: 392px;
  top: 427px;
  position: absolute;
  background-color: transparent;
  width: 47px;
  height: 47px;
  z-index: 1;
  display: block;
}
/* line 199, ../../app/stylesheets/application.sass */
div#container div#contents div#star3 {
  left: 601px;
  top: 77px;
  position: absolute;
  background-color: transparent;
  width: 47px;
  height: 47px;
  z-index: 1;
  display: block;
}
/* line 201, ../../app/stylesheets/application.sass */
div#container div#contents div#star4 {
  left: 840px;
  top: 0px;
  position: absolute;
  background-color: transparent;
  width: 71px;
  height: 64px;
  z-index: 1;
  display: block;
}
/* line 203, ../../app/stylesheets/application.sass */
div#container div#contents div#star5 {
  left: 690px;
  top: 400px;
  position: absolute;
  background-color: transparent;
  width: 47px;
  height: 47px;
  z-index: 1;
  display: block;
}
/* line 205, ../../app/stylesheets/application.sass */
div#container div#contents div#star6 {
  left: 640px;
  top: 400px;
  position: absolute;
  background-color: transparent;
  width: 71px;
  height: 64px;
  z-index: 1;
  display: block;
}
/* line 207, ../../app/stylesheets/application.sass */
div#container div#contents div#thumbnails_pusher {
  float: right;
  width: 300px;
  height: 320px;
}
/* line 211, ../../app/stylesheets/application.sass */
div#container div#contents div#thumbnails_container {
  padding: 5px;
  float: right;
  margin-right: 2px;
  height: 150px;
  width: 300px;
  border: 1px solid white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 51, ../../app/stylesheets/application.sass */
div#container div#contents div#thumbnails_container div#thumbs div.pagination {
  font-size: 16px;
}
/* line 53, ../../app/stylesheets/application.sass */
div#container div#contents div#thumbnails_container div#thumbs div.pagination a {
  font-size: 14px;
}
/* line 55, ../../app/stylesheets/application.sass */
div#container div#contents div#thumbnails_container div#thumbs ul {
  margin: 0 auto;
  text-align: center;
  width: 270px;
}
/* line 59, ../../app/stylesheets/application.sass */
div#container div#contents div#thumbnails_container div#thumbs ul li {
  list-style-type: none;
  float: left;
  margin-right: 4px;
}
/* line 63, ../../app/stylesheets/application.sass */
div#container div#contents div#thumbnails_container div#thumbs ul span#gallery {
  float: left;
  text-align: center;
  width: 270px;
  font-size: 12px;
}
/* line 220, ../../app/stylesheets/application.sass */
div#container div#contents div#thumbnails_container div#thumbs {
  padding: 5px 10px;
}
/* line 222, ../../app/stylesheets/application.sass */
div#container div#contents div#thumbnails_container div#thumbs div.pagination {
  width: 100px;
  float: left;
}
/* line 226, ../../app/stylesheets/application.sass */
div#container div#contents div#thumbnails_container div#thumbs ul div#bottom_links {
  float: right;
  line-height: 15px;
  margin-right: 5px;
}
/* line 230, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container {
  width: 320px;
  min-height: 480px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background: rgba(20, 20, 20, 0.5);
  border: 1px solid white;
  float: right;
}
/* line 238, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#form {
  text-align: left;
  padding: 10px;
  color: white;
}
/* line 242, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#form div#bottom_links {
  margin-top: 10px;
  text-align: right;
  margin-right: 20px;
  font-size: 12px;
}
/* line 247, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#form div#bottom_links a {
  font-size: 12px;
}
/* line 103, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#form form li {
  font-size: 14px;
  list-style-type: none;
}
/* line 106, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#form form li p.inline-errors {
  margin-left: 75px;
  color: #cd4d10;
}
/* line 109, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#form form li p.inline-hints {
  margin-left: 75px;
  font-style: italic;
}
/* line 112, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#form form li label {
  text-align: right;
  float: left;
  width: 65px;
  margin-right: 10px;
}
/* line 117, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#form form li input {
  width: 186px;
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #808080, #000000);
  background-image: -moz-linear-gradient(top, #808080, #000000);
  background-image: -o-linear-gradient(top, #808080, #000000);
  background-image: -ms-linear-gradient(top, #808080, #000000);
  background-image: linear-gradient(top, #808080, #000000);
}
/* line 120, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#form form li textarea {
  width: 186px;
  height: 180px;
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #808080, #000000);
  background-image: -moz-linear-gradient(top, #808080, #000000);
  background-image: -o-linear-gradient(top, #808080, #000000);
  background-image: -ms-linear-gradient(top, #808080, #000000);
  background-image: linear-gradient(top, #808080, #000000);
}
/* line 124, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#form form li select {
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #808080, #000000);
  background-image: -moz-linear-gradient(top, #808080, #000000);
  background-image: -o-linear-gradient(top, #808080, #000000);
  background-image: -ms-linear-gradient(top, #808080, #000000);
  background-image: linear-gradient(top, #808080, #000000);
}
/* line 126, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#form form input.submit {
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #808080, #000000);
  background-image: -moz-linear-gradient(top, #808080, #000000);
  background-image: -o-linear-gradient(top, #808080, #000000);
  background-image: -ms-linear-gradient(top, #808080, #000000);
  background-image: linear-gradient(top, #808080, #000000);
  margin: 10px 0 0 75px;
}
/* line 251, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#list {
  width: 260px;
  margin: 0 auto;
  padding: 20px 0;
}
/* line 254, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#list ul li {
  list-style-type: none;
  margin-bottom: 5px;
}
/* line 257, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#list ul li span#title {
  float: left;
  width: 140px;
  font-weight: bold;
}
/* line 261, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#list ul li span#title a {
  color: white;
}
/* line 51, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#list div#thumbs div.pagination {
  font-size: 16px;
}
/* line 53, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#list div#thumbs div.pagination a {
  font-size: 14px;
}
/* line 55, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#list div#thumbs ul {
  margin: 0 auto;
  text-align: center;
  width: 216px;
}
/* line 59, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#list div#thumbs ul li {
  list-style-type: none;
  float: left;
  margin-right: 4px;
}
/* line 63, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#list div#thumbs ul span#gallery {
  float: left;
  text-align: center;
  width: 216px;
  font-size: 12px;
}
/* line 264, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#list div#controls {
  text-align: center;
}
/* line 266, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#list div#controls a {
  font-size: 14px;
}
/* line 268, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#list div#slideshow {
  height: 380px;
  position: relative;
}
/* line 271, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#list div#slideshow span.image-wrapper {
  position: absolute;
  top: 30px;
}
/* line 275, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#list div#slideshow span.image-wrapper a img {
  width: 250px;
}
/* line 277, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#list div#caption {
  position: relative;
}
/* line 279, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#list div#caption span.image-caption {
  position: absolute;
  top: -10px;
  width: 260px;
}
/* line 283, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#list div#caption span.image-caption div.caption {
  text-align: center;
  font-size: 12px;
}
/* line 286, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#list div#caption span.image-caption div.caption a {
  font-size: 12px;
}
/* line 288, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#list div#bottom_links {
  margin-top: 5px;
  text-align: right;
}
/* line 292, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container ul#news_flow {
  width: 250px;
  margin: 0 auto;
}
/* line 295, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container ul#news_flow li.event {
  list-style-type: none;
  margin-bottom: 10px;
}
/* line 298, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container ul#news_flow li.event h1 {
  text-align: center;
  margin-bottom: 0;
}
/* line 301, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container ul#news_flow li.event div#time {
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 305, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container ul#news_flow li.event div#top_links {
  text-align: center;
  font-size: 12px;
}
/* line 308, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container ul#news_flow li.event div#content {
  text-align: center;
  font-size: 14px;
}
/* line 311, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container ul#news_flow li.event div#content span#continue {
  display: block;
  text-align: right;
  margin-right: 10px;
}
/* line 315, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container {
  width: 152px;
  float: right;
  margin-bottom: 20px;
}
/* line 319, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container div#side_bar_container {
  width: 170px;
  margin: 0 auto;
}
/* line 323, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container div#side_bar_container div#side_bar ul {
  float: right;
}
/* line 325, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container div#side_bar_container div#side_bar ul li {
  padding: 1px 6px 1px 1px;
  text-align: right;
  position: relative;
  list-style-type: none;
  width: 180px;
}
/* line 331, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container div#side_bar_container div#side_bar ul li a {
  color: white;
  text-shadow: 2px 2px 2px #4b7399;
  font-size: 25px;
}
/* line 335, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container div#side_bar_container div#side_bar ul li.selected {
  padding: 0 5px 0 0;
  background: black;
  border: 1px solid white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 340, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container div#tweet_container {
  width: 170px;
  margin: 100px auto 0 auto;
}
/* line 343, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container div#tweet_container h1 {
  text-align: right;
  font-size: 25px;
  margin: 0;
  text-shadow: 3px 3px 3px #cd7f12;
}
/* line 348, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container div#tweet_container div.tweet {
  margin-top: 10px;
}
/* line 350, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container div#tweet_container div.tweet div#ago {
  text-align: right;
}
/* line 352, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container div#tweet_container div.tweet div#content {
  text-align: right;
  font-size: 14px;
}
/* line 355, ../../app/stylesheets/application.sass */
div#container div#contents div#void {
  float: right;
}
/* line 357, ../../app/stylesheets/application.sass */
div#container div#contents div#void div#message {
  float: right;
}
/* line 361, ../../app/stylesheets/application.sass */
div#container div#contents div#void form p input {
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #808080, #000000);
  background-image: -moz-linear-gradient(top, #808080, #000000);
  background-image: -o-linear-gradient(top, #808080, #000000);
  background-image: -ms-linear-gradient(top, #808080, #000000);
  background-image: linear-gradient(top, #808080, #000000);
}
/* line 363, ../../app/stylesheets/application.sass */
div#container div#contents div#void form p input.submit {
  margin-top: 10px;
  margin-left: 0;
}
/* line 103, ../../app/stylesheets/application.sass */
div#container div#contents div#void form li {
  font-size: 14px;
  list-style-type: none;
}
/* line 106, ../../app/stylesheets/application.sass */
div#container div#contents div#void form li p.inline-errors {
  margin-left: 160px;
  color: #cd4d10;
}
/* line 109, ../../app/stylesheets/application.sass */
div#container div#contents div#void form li p.inline-hints {
  margin-left: 160px;
  font-style: italic;
}
/* line 112, ../../app/stylesheets/application.sass */
div#container div#contents div#void form li label {
  text-align: right;
  float: left;
  width: 150px;
  margin-right: 10px;
}
/* line 117, ../../app/stylesheets/application.sass */
div#container div#contents div#void form li input {
  width: 186px;
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #808080, #000000);
  background-image: -moz-linear-gradient(top, #808080, #000000);
  background-image: -o-linear-gradient(top, #808080, #000000);
  background-image: -ms-linear-gradient(top, #808080, #000000);
  background-image: linear-gradient(top, #808080, #000000);
}
/* line 120, ../../app/stylesheets/application.sass */
div#container div#contents div#void form li textarea {
  width: 186px;
  height: 180px;
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #808080, #000000);
  background-image: -moz-linear-gradient(top, #808080, #000000);
  background-image: -o-linear-gradient(top, #808080, #000000);
  background-image: -ms-linear-gradient(top, #808080, #000000);
  background-image: linear-gradient(top, #808080, #000000);
}
/* line 124, ../../app/stylesheets/application.sass */
div#container div#contents div#void form li select {
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #808080, #000000);
  background-image: -moz-linear-gradient(top, #808080, #000000);
  background-image: -o-linear-gradient(top, #808080, #000000);
  background-image: -ms-linear-gradient(top, #808080, #000000);
  background-image: linear-gradient(top, #808080, #000000);
}
/* line 126, ../../app/stylesheets/application.sass */
div#container div#contents div#void form input.submit {
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #808080, #000000);
  background-image: -moz-linear-gradient(top, #808080, #000000);
  background-image: -o-linear-gradient(top, #808080, #000000);
  background-image: -ms-linear-gradient(top, #808080, #000000);
  background-image: linear-gradient(top, #808080, #000000);
  margin: 10px 0 0 160px;
}
/* line 367, ../../app/stylesheets/application.sass */
div#container div#contents div#user_nav {
  text-align: right;
  margin: 0 auto 20px auto;
  padding-top: 0;
}
/* line 371, ../../app/stylesheets/application.sass */
div#container div#contents div#user_nav a {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #808080, #ffffff);
  background-image: -moz-linear-gradient(top, #808080, #ffffff);
  background-image: -o-linear-gradient(top, #808080, #ffffff);
  background-image: -ms-linear-gradient(top, #808080, #ffffff);
  background-image: linear-gradient(top, #808080, #ffffff);
  padding-bottom: 3px;
  border: 1px solid white;
  font-size: 12px;
}
