/* line 56, ../../app/stylesheets/application.sass */
div.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 61, ../../app/stylesheets/application.sass */
a {
  color: #4b7399;
  text-decoration: none;
  font-size: 16px;
}

/* line 66, ../../app/stylesheets/application.sass */
h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
  text-align: right;
}

/* line 72, ../../app/stylesheets/application.sass */
div#flash_notice {
  float: left;
  margin-bottom: 5px;
  padding: 3px 10px;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4cc417), color-stop(100%, #339966));
  background-image: -webkit-linear-gradient(top, #4cc417, #339966);
  background-image: -moz-linear-gradient(top, #4cc417, #339966);
  background-image: -o-linear-gradient(top, #4cc417, #339966);
  background-image: linear-gradient(top, #4cc417, #339966);
}

/* line 78, ../../app/stylesheets/application.sass */
div#flash_alert {
  float: left;
  margin-bottom: 5px;
  padding: 3px 10px;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3333), color-stop(100%, #993333));
  background-image: -webkit-linear-gradient(top, #ff3333, #993333);
  background-image: -moz-linear-gradient(top, #ff3333, #993333);
  background-image: -o-linear-gradient(top, #ff3333, #993333);
  background-image: linear-gradient(top, #ff3333, #993333);
}

/* line 102, ../../app/stylesheets/application.sass */
div#container {
  font: normal 18px "Helvetica Neue", Arial, Helvetica, sans-serif;
  width: 900px;
  margin: 40px auto;
}
/* line 106, ../../app/stylesheets/application.sass */
div#container div#contents {
  height: 500px;
  padding: 20px 40px;
  border: 1px solid black;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background: black url("/images/red_moon_mizuki.png") no-repeat scroll top left;
  color: white;
  position: relative;
}
/* line 114, ../../app/stylesheets/application.sass */
div#container div#contents div#star1 {
  left: 77px;
  top: 162px;
  position: absolute;
  background-color: transparent;
  width: 47px;
  height: 47px;
  z-index: 1;
  display: block;
}
/* line 116, ../../app/stylesheets/application.sass */
div#container div#contents div#star2 {
  left: 392px;
  top: 427px;
  position: absolute;
  background-color: transparent;
  width: 47px;
  height: 47px;
  z-index: 1;
  display: block;
}
/* line 118, ../../app/stylesheets/application.sass */
div#container div#contents div#star3 {
  left: 601px;
  top: 77px;
  position: absolute;
  background-color: transparent;
  width: 47px;
  height: 47px;
  z-index: 1;
  display: block;
}
/* line 120, ../../app/stylesheets/application.sass */
div#container div#contents div#star4 {
  left: 840px;
  top: 0px;
  position: absolute;
  background-color: transparent;
  width: 71px;
  height: 64px;
  z-index: 1;
  display: block;
}
/* line 122, ../../app/stylesheets/application.sass */
div#container div#contents div#star5 {
  left: 690px;
  top: 400px;
  position: absolute;
  background-color: transparent;
  width: 47px;
  height: 47px;
  z-index: 1;
  display: block;
}
/* line 124, ../../app/stylesheets/application.sass */
div#container div#contents div#star6 {
  left: 640px;
  top: 400px;
  position: absolute;
  background-color: transparent;
  width: 71px;
  height: 64px;
  z-index: 1;
  display: block;
}
/* line 126, ../../app/stylesheets/application.sass */
div#container div#contents div#news_flow_container {
  width: 320px;
  height: 480px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background: rgba(20, 20, 20, 0.5);
  border: 1px solid white;
  float: right;
}
/* line 133, ../../app/stylesheets/application.sass */
div#container div#contents div#news_flow_container ul#news_flow {
  width: 250px;
  margin: 0 auto;
}
/* line 136, ../../app/stylesheets/application.sass */
div#container div#contents div#news_flow_container ul#news_flow li.event {
  list-style-type: none;
  margin-bottom: 10px;
}
/* line 139, ../../app/stylesheets/application.sass */
div#container div#contents div#news_flow_container ul#news_flow li.event h1 {
  text-align: center;
  font-size: 32px;
  margin: 0;
  text-shadow: 3px 3px 3px #cd7f12;
}
/* line 144, ../../app/stylesheets/application.sass */
div#container div#contents div#news_flow_container ul#news_flow li.event div#time {
  font-size: 12px;
  text-align: center;
  color: #cd7f12;
}
/* line 148, ../../app/stylesheets/application.sass */
div#container div#contents div#news_flow_container ul#news_flow li.event div#links {
  text-align: center;
}
/* line 150, ../../app/stylesheets/application.sass */
div#container div#contents div#news_flow_container ul#news_flow li.event div#links a {
  font-size: 12px;
}
/* line 152, ../../app/stylesheets/application.sass */
div#container div#contents div#news_flow_container ul#news_flow li.event div#content {
  font-size: 14px;
}
/* line 154, ../../app/stylesheets/application.sass */
div#container div#contents div#news_flow_container ul#news_flow li.event div#content span#continue {
  display: block;
  text-align: right;
  margin-right: 10px;
}
/* line 158, ../../app/stylesheets/application.sass */
div#container div#contents div#news_flow_container ul#news_flow li.event div#content span#continue a {
  font-size: 12px;
}
/* line 160, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container {
  width: 190px;
  height: 480px;
  float: right;
}
/* line 164, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container div#side_bar_container {
  width: 170px;
  margin: 0 auto 100px auto;
}
/* line 168, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container div#side_bar_container div#side_bar ul {
  float: right;
}
/* line 170, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container div#side_bar_container div#side_bar ul li {
  list-style-type: none;
}
/* line 172, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container div#side_bar_container div#side_bar ul li a {
  color: white;
  text-shadow: 2px 2px 2px #4b7399;
  font-size: 25px;
}
/* line 176, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container div#tweet_container {
  width: 170px;
  margin: 0 auto;
}
/* line 179, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container div#tweet_container h1 {
  text-align: right;
  font-size: 25px;
  margin: 0;
  text-shadow: 3px 3px 3px #cd7f12;
}
/* line 184, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container div#tweet_container div.tweet {
  margin-top: 10px;
}
/* line 186, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container div#tweet_container div.tweet div#ago {
  font-size: 12px;
  text-align: right;
  color: #cd7f12;
}
/* line 190, ../../app/stylesheets/application.sass */
div#container div#contents div#side_menu_container div#tweet_container div.tweet div#content {
  text-align: right;
  font-size: 14px;
}
/* line 194, ../../app/stylesheets/application.sass */
div#container div#contents div#user_nav {
  float: right;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  margin-bottom: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background: rgba(20, 20, 20, 0.5);
}
/* line 202, ../../app/stylesheets/application.sass */
div#container div#contents div#table {
  margin-top: 20px;
  color: white;
  float: right;
}
/* line 206, ../../app/stylesheets/application.sass */
div#container div#contents div#list {
  width: 250px;
  margin: 0 auto;
}
/* line 210, ../../app/stylesheets/application.sass */
div#container div#contents div#list ul li {
  list-style-type: none;
}
/* line 212, ../../app/stylesheets/application.sass */
div#container div#contents div#list ul li span#name {
  float: left;
  width: 160px;
}
/* line 216, ../../app/stylesheets/application.sass */
div#container div#contents div#list ul li span#links a {
  font-size: 12px;
}
/* line 218, ../../app/stylesheets/application.sass */
div#container div#contents div#list div#bottom_links {
  margin-top: 5px;
  float: right;
}
/* line 221, ../../app/stylesheets/application.sass */
div#container div#contents div#list div#bottom_links a {
  font-size: 14px;
}
/* line 224, ../../app/stylesheets/application.sass */
div#container div#contents div#signup_form form {
  float: right;
}
/* line 226, ../../app/stylesheets/application.sass */
div#container div#contents div#signup_form form li {
  list-style-type: none;
}
/* line 228, ../../app/stylesheets/application.sass */
div#container div#contents div#signup_form form li label {
  width: 120px;
  float: left;
  text-align: right;
  margin: 7px 10px 0 0;
}
/* line 233, ../../app/stylesheets/application.sass */
div#container div#contents div#signup_form form li input {
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #808080, #000000);
  background-image: -moz-linear-gradient(top, #808080, #000000);
  background-image: -o-linear-gradient(top, #808080, #000000);
  background-image: linear-gradient(top, #808080, #000000);
}
/* line 236, ../../app/stylesheets/application.sass */
div#container div#contents div#signup_form form li.error p.inline-errors {
  margin-left: 130px;
  color: #cd4d10;
  text-shadow: 1px 1px 1px blac;
}
/* line 240, ../../app/stylesheets/application.sass */
div#container div#contents div#signup_form form input.submit {
  margin: 10px 0 0 130px;
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #808080, #000000);
  background-image: -moz-linear-gradient(top, #808080, #000000);
  background-image: -o-linear-gradient(top, #808080, #000000);
  background-image: linear-gradient(top, #808080, #000000);
}
/* line 243, ../../app/stylesheets/application.sass */
div#container div#contents div#form {
  margin: 10px 10px 0 0;
  color: white;
  float: right;
}
/* line 247, ../../app/stylesheets/application.sass */
div#container div#contents div#form div#bottom_links {
  margin-top: 5px;
  float: right;
}
/* line 250, ../../app/stylesheets/application.sass */
div#container div#contents div#form div#bottom_links a {
  font-size: 14px;
}
/* line 252, ../../app/stylesheets/application.sass */
div#container div#contents div#form form {
  float: right;
}
/* line 254, ../../app/stylesheets/application.sass */
div#container div#contents div#form form input.submit {
  margin-top: 10px;
}
/* line 256, ../../app/stylesheets/application.sass */
div#container div#contents div#form form input {
  width: 186px;
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #808080, #000000);
  background-image: -moz-linear-gradient(top, #808080, #000000);
  background-image: -o-linear-gradient(top, #808080, #000000);
  background-image: linear-gradient(top, #808080, #000000);
}
/* line 259, ../../app/stylesheets/application.sass */
div#container div#contents div#form form textarea {
  font-size: 14px;
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #808080, #000000);
  background-image: -moz-linear-gradient(top, #808080, #000000);
  background-image: -o-linear-gradient(top, #808080, #000000);
  background-image: linear-gradient(top, #808080, #000000);
  width: 186px;
  height: 180px;
}
/* line 267, ../../app/stylesheets/application.sass */
div#container div#contents div#form form.formtastic li.error p.inline-errors {
  margin-left: 75px;
  color: #cd4d10;
  text-shadow: 1px 1px 1px black;
}
/* line 271, ../../app/stylesheets/application.sass */
div#container div#contents div#form form.formtastic li {
  float: left;
  width: auto;
  list-style-type: none;
}
/* line 275, ../../app/stylesheets/application.sass */
div#container div#contents div#form form.formtastic li label {
  font-size: 14px;
  float: left;
  width: 65px;
  text-align: right;
  margin: 7px 10px 0 0;
}
/* line 281, ../../app/stylesheets/application.sass */
div#container div#contents div#form form.formtastic input.submit {
  margin: 10px 0 0 75px;
}
/* line 283, ../../app/stylesheets/application.sass */
div#container div#contents div#form form.formtastic input.small_submit {
  margin-top: 10px;
}
