/* line 50, ../../app/stylesheets/iphone.sass */
.arrow {
  font-size: 24px;
}

/* line 52, ../../app/stylesheets/iphone.sass */
.time {
  font-size: 24px;
}

/* line 55, ../../app/stylesheets/iphone.sass */
div#container {
  width: 100%;
}
/* line 57, ../../app/stylesheets/iphone.sass */
div#container div#contents {
  width: 98.8%;
  padding: 2px 0.4%;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}
/* line 58, ../../app/stylesheets/iphone.sass */
div#container div#contents a {
  font-size: 24px;
}
/* line 63, ../../app/stylesheets/iphone.sass */
div#container div#contents div#main_container {
  width: 60%;
}
/* line 65, ../../app/stylesheets/iphone.sass */
div#container div#contents div#main_container div#list {
  position: relative;
  width: 95%;
}
/* line 69, ../../app/stylesheets/iphone.sass */
div#container div#contents div#main_container div#list div#controls a {
  font-size: 28px;
}
/* line 72, ../../app/stylesheets/iphone.sass */
div#container div#contents div#main_container div#list div#slideshow span.image-wrapper {
  margin-left: 5%;
}
/* line 75, ../../app/stylesheets/iphone.sass */
div#container div#contents div#main_container div#list div#slideshow span.image-wrapper a.advance-link img {
  width: 300%;
}
/* line 79, ../../app/stylesheets/iphone.sass */
div#container div#contents div#main_container div#list ul#events li span#title {
  width: 50%;
}
/* line 81, ../../app/stylesheets/iphone.sass */
div#container div#contents div#main_container div#list ul#events li span#title a {
  font-size: 36px;
}
/* line 83, ../../app/stylesheets/iphone.sass */
div#container div#contents div#main_container div#list ul#news_flow {
  width: auto;
}
/* line 86, ../../app/stylesheets/iphone.sass */
div#container div#contents div#main_container div#list ul#news_flow li.event h1 {
  font-size: 60px;
}
/* line 88, ../../app/stylesheets/iphone.sass */
div#container div#contents div#main_container div#list ul#news_flow li.event div#time {
  font-size: 24px;
}
/* line 90, ../../app/stylesheets/iphone.sass */
div#container div#contents div#main_container div#list ul#news_flow li.event div#content {
  font-size: 28px;
}
/* line 92, ../../app/stylesheets/iphone.sass */
div#container div#contents div#main_container div#list ul#news_flow li.event span#title {
  width: 50%;
}
/* line 95, ../../app/stylesheets/iphone.sass */
div#container div#contents div#main_container div#list ul#news_flow li.event div#thumbs ul.thumbs {
  width: 55%;
  text-align: center;
}
/* line 98, ../../app/stylesheets/iphone.sass */
div#container div#contents div#main_container div#list ul#news_flow li.event div#thumbs ul.thumbs li {
  width: 23%;
}
/* line 100, ../../app/stylesheets/iphone.sass */
div#container div#contents div#main_container div#list ul#news_flow li.event div#thumbs ul.thumbs li img {
  width: 100%;
}
/* line 102, ../../app/stylesheets/iphone.sass */
div#container div#contents div#main_container div#list ul#news_flow li.event div#thumbs ul.thumbs span#gallery {
  float: none;
  text-align: center;
}
/* line 105, ../../app/stylesheets/iphone.sass */
div#container div#contents div#side_menu_container {
  width: 38.4%;
}
/* line 108, ../../app/stylesheets/iphone.sass */
div#container div#contents div#side_menu_container div#user_nav a {
  font-size: 24px;
}
/* line 110, ../../app/stylesheets/iphone.sass */
div#container div#contents div#side_menu_container div#side_bar_container {
  width: 95%;
}
/* line 113, ../../app/stylesheets/iphone.sass */
div#container div#contents div#side_menu_container div#side_bar_container div#side_bar ul {
  width: 105%;
}
/* line 115, ../../app/stylesheets/iphone.sass */
div#container div#contents div#side_menu_container div#side_bar_container div#side_bar ul li {
  width: 100%;
}
/* line 117, ../../app/stylesheets/iphone.sass */
div#container div#contents div#side_menu_container div#side_bar_container div#side_bar ul li a {
  font-size: 50px;
}
/* line 119, ../../app/stylesheets/iphone.sass */
div#container div#contents div#side_menu_container div#tweet_container {
  width: 95%;
}
/* line 121, ../../app/stylesheets/iphone.sass */
div#container div#contents div#side_menu_container div#tweet_container h1 {
  font-size: 50px;
}
/* line 124, ../../app/stylesheets/iphone.sass */
div#container div#contents div#side_menu_container div#tweet_container div.tweet div#content {
  font-size: 28px;
}
/* line 126, ../../app/stylesheets/iphone.sass */
div#container div#contents div#side_menu_container div#tweet_container div.tweet div#ago {
  font-size: 24px;
}
