@import "compass/css3/border-radius"
@import "compass/css3/gradient"

$spacing: 10px
$main_width: 900px
$label_width: 75px
$label_margin: $spacing
$label_full_width: $label_width + $label_margin

$font_size: 18px
$a_size: $font_size - 2px
$h1_size: $font_size * 2

$menu_colour: #932710
$title_colour: #cd7f12
$bg_colour: #ddd
$alert_dark: #933
$error_colour: #cd4d10
$link_colour: #4B7399
$notice_dark: #396
$alert_light: #f33
$notice_light: #4CC417

@mixin star-base($x, $y, $w: 47px, $h: 47px)
  left: $x
  top: $y
  position: absolute
  background-color: transparent
  width: $w
  height: $h
  z-index: 1
  display: block

@mixin red-gradient
  color: white
  font-weight: bold
  padding: 5px
  +border-radius(10px)
  +linear-gradient(color-stops(gray, black))

@mixin custom_gradient($light, $dark, $corner: 10px)
  color: white
  font-weight: bold
  padding: 5px
  +border-radius($corner)
  +linear-gradient(color-stops($light, $dark))

div.clear
  clear: both
  height: 0
  overflow: hidden

a
  color: $link_colour
  text-decoration: none
  font-size: $a_size

h1
  font-size: $h1_size
  margin-bottom: 2*$spacing
  color: white
  text-align: right

div#flash_notice
  float: left  
  margin-bottom: 5px
  padding: 3px 10px
  border: 1px solid black
  +custom_gradient($notice_light,$notice_dark)
div#flash_alert
  float: left
  margin-bottom: 5px
  padding: 3px 10px
  border: 1px solid black
  +custom_gradient($alert_light,$alert_dark)

$star_base_y: 0px
$star_base_x: 40px
$star1_x: $star_base_x + 37px
$star1_y: $star_base_y + 162px
$star2_x: $star_base_x + 352px
$star2_y: $star_base_y + 427px
$star3_x: $star_base_x + 561px
$star3_y: $star_base_y + 77px
$star4_x: $star_base_x + 800
$star4_y: $star_base_y + 0
$star5_x: $star_base_x + 650
$star5_y: $star_base_y + 400
$star6_x: $star_base_x + 600
$star6_y: $star_base_y + 400
$news_flow_container_width: 300px
$news_flow_container_height: 500px
$news_flow_width: 250px
$side_menu_container_width: 200px
$side_menu_container_height: $news_flow_container_height
$side_bar_container_width: 170px
$tweet_container_width: $side_bar_container_width
div#container
  font: normal $font_size "Helvetica Neue", Arial, Helvetica, sans-serif
  width: $main_width
  margin: 4*$spacing auto
  div#contents
    color: white
    position: relative
    div#star1
      +star-base($star1_x,$star1_y)
    div#star2
      +star-base($star2_x,$star2_y)
    div#star3
      +star-base($star3_x,$star3_y)
    div#star4
      +star-base($star4_x,$star4_y,71px,64px)
    div#star5
      +star-base($star5_x,$star5_y)
    div#star6
      +star-base($star6_x,$star6_y,71px,64px)
    div#news_flow_container
      width: $news_flow_container_width
      height: $news_flow_container_height
      +border-radius(10px)
      background: rgba(20,20,20,0.5)
      margin-top: -3*$spacing
      border: 1px solid white
      float: right
      ul#news_flow
        width: $news_flow_width
        margin: 0 auto
        li.event
          list-style-type: none
          margin-bottom: $spacing
          h1
            text-align: center
            font-size: 32px
            margin: 0
            text-shadow: 3px 3px 3px $title_colour
          div#time
            font-size: 12px
            text-align: center
            color: $title_colour
          div#links
            text-align: center
            a
              font-size: 12px
          div#content
            font-size: 14px
            span#continue
              display: block
              text-align: right
              margin-right: $spacing
              a
                font-size: 12px
    div#side_menu_container
      width: $side_menu_container_width
      height: $side_menu_container_height
      margin-top: 2*$spacing
      float: right
      div#side_bar_container
        width: $side_bar_container_width
        margin: 0 auto 100px auto
        div#side_bar
          ul
            float: right
            li
              list-style-type: none
              a
                color: white
                text-shadow: 2px 2px 2px $link_colour
                font-size: 25px
      div#tweet_container
        width: $tweet_container_width
        margin: 0 auto
        h1
          text-align: right
          font-size: 25px
          margin: 0
          text-shadow: 3px 3px 3px $title_colour
        div.tweet
          margin-top: $spacing
          div#ago
            font-size: 12px
            text-align: right
            color: $title_colour
          div#content
            text-align: right
            font-size: 14px
    height: 500px
    padding: 2*$spacing 4*$spacing
    border: 1px solid black
    +border-radius($spacing)
    background: black url('/images/red_moon_mizuki.png') no-repeat scroll top left
    //+linear-gradient(color-stops(white, $bg_colour 33%, white), left)
    div#user_nav
      float: right
      color: white
      border: 1px solid white
      padding: 5px 10px
      +border-radius($spacing)      
      background: rgba(20,20,20,0.5)
    div#table
      margin-top: $spacing*2
      color: white
      float: right
    div#list
      width: $news_flow_width
      margin: 0 auto
      ul
        li
          list-style-type: none
          span#name
            float: left
            width: 160px
          span#links
            a
              font-size: 12px
      div#bottom_links
        margin-top: $spacing/2
        float: right
        a
          font-size: 14px
    div#form
      margin: $spacing $spacing 0 0
      color: white
      float: right
      div#bottom_links
        margin-top: $spacing/2
        float: right
        a
          font-size: 14px
      form
        float: right
        input.submit
          margin-top: $spacing
        input
          width: 186px
          +red_gradient
        textarea
          +red_gradient
          width: 186px
          height: 230px    
      form.formtastic
        li.error
          //+linear-gradient(color-stops(white, $alert_dark 33%, white), left)
          p.inline-errors
            margin-left: $label_full_width
            color: $error_colour
            text-shadow: 1px 1px 1px black
        li
          list-style-type: none
          label
            float: left
            width: $label_width
            text-align: right
            margin: 2px $label_margin 0 0
        input.submit
          margin: $spacing 0 0 $label_full_width
        input.small_submit
          margin-top: $spacing
              
