@import "compass/css3/border-radius"
@import "compass/css3/gradient"

$spacing: 10px
$main_width: 900px
$label_width: 150px
$label_margin: $spacing
$label_full_width: $label_width + $label_margin

$font_size: 18px
$a_size: $font_size - 2px
$h1_size: $font_size * 2

$bg_colour: #ddd
$alert_dark: #933
$error_colour: #cd4d10
$link_colour: #4B7399
$notice_dark: #396
$alert_light: #f33
$notice_light: #4CC417

@mixin star-base($x, $y, $w: 47px, $h: 47px)
  left: $x
  top: $y
  position: absolute
  background-color: transparent
  width: $w
  height: $h
  z-index: 1
  display: block

@mixin red-gradient
  color: white
  font-weight: bold
  padding: 5px
  +border-radius(10px)
  +linear-gradient(color-stops(gray, black))

@mixin custom_gradient($light, $dark, $corner: 10px)
  color: white
  font-weight: bold
  padding: 5px
  +border-radius($corner)
  +linear-gradient(color-stops($light, $dark))

div.clear
  clear: both
  height: 0
  overflow: hidden

a
  color: $link_colour
  text-decoration: none
  font-size: $a_size

h1
  font-size: $h1_size
  margin-bottom: 2*$spacing

div#flash_notice
  float: left  
  margin-bottom: 5px
  padding: 3px 10px
  border: 1px solid black
  +custom_gradient($notice_light,$notice_dark)
div#flash_alert
  float: left
  margin-bottom: 5px
  padding: 3px 10px
  border: 1px solid black
  +custom_gradient($alert_light,$alert_dark)

$star_base_y: 0px
$star_base_x: 40px
$star1_y: $star_base_y + 162px
$star2_y: $star_base_y + 427px
$star3_y: $star_base_y + 77px
$star4_y: $star_base_y + 0
$star1_x: $star_base_x + 17px
$star2_x: $star_base_x + 352px
$star3_x: $star_base_x + 561px
$star4_x: $star_base_x + 800
div#container
  font: normal $font_size "Helvetica Neue", Arial, Helvetica, sans-serif
  width: $main_width
  margin: 4*$spacing auto
  div#contents
    position: relative
    div#star1
      +star-base($star1_x,$star1_y)
    div#star2
      +star-base($star2_x,$star2_y)
    div#star3
      +star-base($star3_x,$star3_y)
    div#star4
      +star-base($star4_x,$star4_y,71px,64px)



    height: 500px
    padding: 2*$spacing 4*$spacing
    border: 1px solid black
    +border-radius($spacing)
    background: black url('/images/red_moon_mizuki.png') no-repeat scroll top left
    //+linear-gradient(color-stops(white, $bg_colour 33%, white), left)
    div#user_nav
      float: right
      color: white
    div#table
      color: white
      float: right
    div#form
      color: white
      float: right
      div#bottom_links
        float: right
      form
        float: right
        input.submit
          margin-top: $spacing
        input
          +red_gradient
      form.formtastic
        li.error
          //+linear-gradient(color-stops(white, $alert_dark 33%, white), left)
          p.inline-errors
            margin-left: $label_full_width
            color: $error_colour
            text-shadow: 1px 1px 1px black
        li
          list-style-type: none
          label
            float: left
            width: $label_width
            text-align: right
            margin: 2px $label_margin 0 0
        input.submit
          margin: $spacing 0 0 $label_full_width
        input.small_submit
          margin-top: $spacing
              
