@import "compass/css3/border-radius"
@import "compass/css3/gradient"

$spacing: 10px
$main_width: 900px
$label_width: 150px
$label_margin: $spacing
$label_full_width: $label_width + $label_margin

$font_size: 14px
$a_size: $font_size - 2px
$h1_size: $font_size * 2

$bg_colour: #ddd
$link_colour: #4B7399
$alert_dark: #933
$notice_dark: #396
$alert_light: #f33
$notice_light: #4CC417

@mixin custom_gradient($light, $dark, $corner: 10px)
  color: white
  font-weight: bold
  padding: 5px
  +border-radius($corner)
  +linear-gradient(color-stops($light, $dark))

div.clear
  clear: both
  height: 0
  overflow: hidden

a
  color: $link_colour
  text-decoration: none
  font-size: $a_size

h1
  font-size: $h1_size
  margin-bottom: 2*$spacing

div#flash_notice
  float: left  
  margin-bottom: 5px
  padding: 3px 10px
  border: 1px solid black
  +custom_gradient($notice_light,$notice_dark)
div#flash_alert
  float: left
  margin-bottom: 5px
  padding: 3px 10px
  border: 1px solid black
  +custom_gradient($alert_light,$alert_dark)

$star_base_y: 50px
$star_base_x: 550px
$star1_y: $star_base_y + 52px
$star2_y: $star_base_y + 427px
$star3_y: $star_base_y + 77px
$star4_y: $star_base_y + 0
$star1_x: $star_base_x + 17px
$star2_x: $star_base_x + 352px
$star3_x: $star_base_x + 561px
$star4_x: $star_base_x + 800
div#container
  font: normal $font_size "Helvetica Neue", Arial, Helvetica, sans-serif
  width: $main_width
  margin: 4*$spacing auto
  div#contents
    div#star1
      top: $star1_y
      left: $star1_x 
      position: absolute
      background-color: transparent
      width: 47px
      height: 47px
    div#star2
      top: $star2_y
      left: $star2_x
      position: absolute
      background-color: transparent
      width: 47px
      height: 47px
    div#star3
      top: $star3_y
      left: $star3_x
      position: absolute
      background-color: transparent
      width: 47px
      height: 47px
    div#star4
      top: $star4_y
      left: $star4_x
      position: absolute
      background-color: transparent
      width: 71px
      height: 64px



    height: 500px
    padding: 2*$spacing 4*$spacing
    border: 1px solid black
    +border-radius($spacing)
    background: black url('/images/red_moon_mizuki.png') no-repeat scroll top left
    //+linear-gradient(color-stops(white, $bg_colour 33%, white), left)
    div#user_nav
      float: right
    form.formtastic
      li.error
        +linear-gradient(color-stops(white, $alert_dark 33%, white), left)
        p.inline-errors
          margin-left: $label_full_width
          color: white
          text-shadow: 1px 1px 1px black
      li
        list-style-type: none
        label
          float: left
          width: $label_width
          text-align: right
          margin: 2px $label_margin 0 0
      input.submit
        margin: $spacing 0 0 $label_full_width
      input.small_submit
        margin-top: $spacing
