@import "compass/css3/border-radius"

$spacing: 10px
$container_width: 100%
$contents_height: 800px
$contents_border: 0.2%
$contents_padding_vertical: 2px
$contents_padding_horizontal: 0.4%
$main_container_width: 60%
$right_side_width: 100%
$side_bar_container_width: 30%
@import "variables.sass"

$star_base_x: 10%
$star_base_y: 10%
$star1_x: $star_base_x
$star1_y: $star_base_y
$star2_x: $star_base_x + 40%
$star2_y: $star_base_y + 70%
$star3_x: $star_base_x + 10%
$star3_y: $star_base_y + 60%
$star4_x: $star_base_x + 60%
$star4_y: $star_base_y

@mixin star-base($x, $y, $w: 47px, $h: 47px)
  left: $x
  top: $y
  position: absolute
  background-color: transparent
  width: $w
  height: $h
  z-index: 1
  display: block
  img
    border: 0
    width: 100%
    height: 100%

$font_size_multiplier: 2
$title_font_size: 30px * $font_size_multiplier
$time_font_size: 12px * $font_size_multiplier
div#container
  width: $container_width
  div#contents
    width: $contents_width
    padding: $contents_padding_vertical $contents_padding_horizontal
    +border-radius(0)
    div#main_container
      width: $main_container_width
      div#list
        position: relative
        width: 95%
        ul
          width: auto
          li.event
            h1
              font-size: $title_font_size
            div#time
              font-size: $time_font_size
            span#title
              width: 50%
    div#side_menu_container
      width: $side_menu_container_width
      div#side_bar_container
        width: 95%
        div#side_bar
          ul
            width: 105%
            li
              width: 100%
      div#tweet_container
        width: 95%
