<div id="main_container">
  <div id="form"><%= render 'form', :button_label => update(:event) %>

    <div id="bottom_links">
      <% if can? :show, @event -%>
      <%= link_to t(:show), @event %> |
      <% end %>
      <% if can? :destroy, @event %>
      <%= link_to t(:delete), @event, :confirm => sure?, :method => :delete %>
      <% end %> |
      <%= link_to view(:event), events_path if can? :index, Event %>
    </div>
  </div>
</div>
