<div id="main_container">
  <div id="list">

    <ul id="news_flow">
      <% events.each do |event| %>
        <%= render event, :truncate => true, :links => false, :thumbs => false %>
      <% end %>
    </ul>
  </div>
</div>
