<div id="star1"><img border="0" width="100%"
                                              height="100%"
                                              src="/images/star1.png"></div>

<div id="star2"><img border="0" width="100%"
                                              height="100%"
                                              src="/images/star2.png"></div>

<div id="star3"><img border="0" width="100%"
                                              height="100%"
                                              src="/images/star3.png"></div>

<div id="star4"><img border="0" width="100%"
                                              height="100%"
                                              src="/images/star4.png"></div>

<%= link_to "Sign up", login_path, :class => "back" %>
<%= link_to "Log in", login_path, :class => "button" %>
