<!-- <script> -->
<!-- var pause1 = 5500; -->
<!-- var pause2 = 3500; -->
<!-- var pause3 = 8000; -->
<!-- var pause4 = 12000; -->
<!-- var sparkle1 = null; -->
<!-- var sparkle2 = null; -->
<!-- var sparkle3 = null; -->
<!-- var sparkle4 = null; -->

<!-- jQuery('div#star1').load( -->
<!--   'nothing', function(){ -->
<!--     sparkle1 = setInterval(hoverfade1, pause1); -->
<!--     sparkle2 = setInterval(hoverfade2, pause2); -->
<!--     sparkle3 = setInterval(hoverfade3, pause3); -->
<!--     sparkle4 = setInterval(hoverfade4, pause4); -->
<!--   }, -->
<!--   function(){ -->
<!--     clearInterval(sparkle1, sparkle2, sparkle3, sparkle4); -->
<!--   } -->
<!-- ); -->

<!-- function hoverfade1(){ -->
<!--     jQuery('div#star1').fadeOut(1000).fadeIn(1000); -->
<!-- } -->
<!-- function hoverfade2(){ -->
<!--     jQuery('div#star2').fadeOut(1500).fadeIn(1500); -->
<!-- } -->
<!-- function hoverfade3(){ -->
<!--     jQuery('div#star3').fadeOut(1200).fadeIn(1200); -->
<!-- } -->
<!-- function hoverfade4(){ -->
<!--     jQuery('div#star4').fadeOut(1500).fadeIn(1500); -->
<!-- } -->
<!-- </script> -->

<div id="star1"><img border="0" width="100%"
                                              height="100%"
                                              src="images/star1.png"></div>

