<div id="main_container">
  <div id="form">
    <%= render "form" %>

    <div id="bottom_links">
      <% if can? :index, Gallery %>
      <%= link_to view(:gallery), galleries_path %>
      <% end %>
    </div>
  </div>
</div>
