<%= content_for :head do %>
<script type="text/javascript">
  jQuery(document).ready(function($) {
  // We only want these styles applied when javascript is enabled
  $('div.navigation').css({'width' : '300px', 'float' : 'left'});
  $('div.content').css('display', 'block');

  // Initially set opacity on thumbs and add
  // additional styling for hover effect on thumbs
  var onMouseOutOpacity = 0.67;
  $('#thumbs ul.thumbs li').opacityrollover({
  mouseOutOpacity: onMouseOutOpacity,
  mouseOverOpacity: 1.0,
  fadeSpeed: 'fast',
  exemptionSelector: '.selected'
  });

  // Initialize Advanced Galleriffic Gallery
  var gallery = $('#thumbs').galleriffic({
  delay: 2500,
  numThumbs: 14,
  preloadAhead: 10,
  enableTopPager: true,
  enableBottomPager: false,
  maxPagesToShow: 7,
  imageContainerSel: '#slideshow',
  controlsContainerSel: '#controls',
  captionContainerSel: '#caption',
  loadingContainerSel: '#loading',
  renderSSControls: true,
  renderNavControls: true,
  playLinkText: 'Play Slideshow',
  pauseLinkText: 'Pause Slideshow',
  prevLinkText: '&lsaquo; 前',
  nextLinkText: '次 &rsaquo;',
  nextPageLinkText: 'Next &rsaquo;',
  prevPageLinkText: '&lsaquo; Prev',
  enableHistory: false,
  autoStart: false,
  syncTransitions: true,
  defaultTransitionDuration: 900,
  onSlideChange: function(prevIndex, nextIndex) {
  // 'this' refers to the gallery, which is an extension of $('#thumbs')
    this.find('ul.thumbs').children()
    .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
    .eq(nextIndex).fadeTo('fast', 1.0);
  },
  onPageTransitionOut: function(callback) {
    this.fadeTo('fast', 0.0, callback);
  },
  onPageTransitionIn: function() {
    this.fadeTo('fast', 1.0);
  },
  });
  });
</script>
<% end %>
<div class="clear"></div>
<div id="picture_container">
  <div id="controls"></div>
  <div id="loading"></div>
  <div id="slideshow"></div>
  <div id="caption"></div>
</div>
<div id="picture_thumbnails_pusher">
</div>
<div id="picture_thumbnails_container">

  <div id="thumbs">

    <ul class="thumbs noscript">
      <% @pictures.each do |pic| %>
      <li><%= link_to((image_tag pic.file_url(:thumb), :title => pic.caption), pic.file_url(:slideshow), :class => :thumb) %>
        <div class="caption"></div>
      </li>
      <% end %>
    </ul>

    <div class="clear"></div>
    <div id="bottom_links">
      <%= link_to add(:picture), new_gallery_picture_path(@gallery) if can? :new, Picture %>
    </div>
  </div>
</div>
